<!doctype html>
<html>
<head ng-controller="headCtrl">
    <meta charset="utf-8">
    <title ng-bind="title"></title>
    <meta name="description" content="火柴手写码，是基于海量手写字符、复杂安全技术而生成的图片验证码，由火柴棍工作室研发，为开发者提供清晰、安全、方便的云验证码解决方案。">
    <meta name="keywords" content="火柴手写码,云验证码,火柴验证码,火柴云验证码">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel='icon' href='images/favicon.png' type='image/png'/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet/less" href="styles/main.less">
    <link rel="stylesheet" href="lib/prettify/prettify.css"/>
    <link rel="stylesheet" href="http://vcode.360sht.com/app/vcodefile/vcode.css"/>
    <script src="/bower_components/less/dist/less.js"></script>
</head>
<body foot-fixer prettify ng-class="'body-'+pageId" ng-controller="appCtrl">
<nav class="navbar  navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button ng-click="rootvm.isCollapsed = !rootvm.isCollapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/index"><img src="images/logo.png"/></a>
        </div>
        <div class="collapse navbar-collapse" collapse="rootvm.isCollapsed" id="nav-main">
            <ul class="nav navbar-nav">
                <li ng-class="pageId == 'index'? 'active':''" class="aa"><a ng-href="#/index">首页</a></li>
                <li ng-class="pageId == 'demo'? 'active':''"><a ng-href="#/demo/pic/min2">在线体验</a>
                    <!--  <span class="caret"></span>
                      <ul class="dropdown-menu">
                          <li><a ng-href="#/demo/pic/layerbox">手写码</a></li>
                        <li class="disabled"><a>短信验证码(敬请期待)</a></li>
                      </ul>-->
                </li>
                <li ng-class="pageId == 'docs'? 'active':''"><a ng-href="#/docs/pic/guide">接入文档</a>
                    <!--  <span class="caret"></span>
                      <ul class="dropdown-menu">
                          <li><a ng-href="#/docs/pic/summary">手写码</a></li>
                         <li class="disabled"><a>短信验证码(敬请期待)</a></li>

                      </ul>-->
                </li>
                <li ng-class="{'active':pageId == 'management','show':user.logined}" class="auth" dropdown
                    ng-if="user.logined"><a dropdown-toggle
                                            ng-href="javascript:void(0)">管理中心
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="#/management/developer/info">开发者中心</a></li>
                        <li><a ng-href="#/management/application/adm">应用中心</a></li>
                        <!-- <li><a ng-href="#/management/statistic">统计报表</a></li>-->
                    </ul>
                </li>
                <li ><a href="http://bbs.360sht.com">社区</a>
                </li>
            </ul>
            <div class="nav-right" ng-controller="userCtrl">
                <span class="st" ng-class="!user.logined?'show':'hide'">
                <a class="cursor-pointer" ng-click="vm.user.open()">登录</a> &nbsp;|&nbsp; <a
                        ng-href="#/reg">注册</a></span>
                <span class="st cursor-pointer" ng-class="user.logined?'show':'hide'"><a
                        ng-href="#/management/developer/info"><span class="glyphicon glyphicon-user"></span>
                    {{user.userInfo.username}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        ng-click="vm.user.logout()">退出</a></span>
            </div>
        </div>
    </div>
</nav>
<div id="view-con">
    <div class="view" ui-view></div>
</div>
<footer>
    <div class="container">
        <div class="footer-nav "><a ng-href="#/about">关于我们</a> | <a ng-href="#/about#cop">商务合作</a></div>
    </div>
</footer>
<back-to-top class="backtop"></back-to-top>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="http://vcode.360sht.com/app/vcodefile/vcode.js"></script>
<script src="/bower_components/requirejs/require.js" data-main="scripts/main"></script>
<div style="display:none">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1254584945'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254584945%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>
