<div class=" view-index">
    <carousel interval="vm.myInterval">
        <slide ng-repeat="slide in vm.slides" active="slide.active">
            <a ng-href="{{slide.link}}"><img ng-src="{{slide.image}}"/></a>

            <div class="carousel-caption">
                <h4>{{slide.title}}</h4>
                <div class="txt">{{slide.text}}</div>
            </div>
        </slide>
    </carousel>
    <div class="container index-bt">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="left con">
                    <h4>手写码</h4>
                    <div class="txt">
                        基于海量手写字符生成的图片验证码，更清晰、更安全、更方便。
                    </div>
                    <div class="bt">
                        <a class="btn btn-success" ng-href="#/demo/pic/layerbox">查看演示</a> <a class="btn btn-default" ng-href="#/docs/pic/guide">接入文档</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="right con">
                    <div class="txt">
                        <p>火柴手写码，是将海量手写图片资源进行碎片化处理，随机组合、加密而成；由于源数据重复概率低、手写文字差异大（即使同一个人多次书写同一数字，其结果也不尽相同）、手写字符书写不规则等特点，使得现有OCR技术很难识别；同时我们结合大数据处理和云计算技术，为开发者提供清晰、安全、方便的云验证码服务。</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>