<div class="container page-resetpwd">
    <div class="panel panel-default panel-mini ">
        <div class="panel-heading">重置密码</div>
        <div class="panel-body">
            <form novalidate name="formResetPwd" ng-submit="vm.resetPwd()">
                <div class="pd">
                    <div class="form-group">
                        <label>您的用户名：</label> <span class="orange">{{vm.username}}</span>

                    </div>
                    <div class="form-group">
                        <label>新密码：</label>
                        <input class="form-control" name="pwdNew" ng-model="vm.pwdNew" placeholder="最小长度6位" required
                               type="password" minlength="6"/>
                    </div>
                    <div class="form-group">
                        <label>确认密码：</label>
                        <input class="form-control" ng-disabled="formResetPwd.pwdNew.$invalid" name="rePwdNew"
                               ng-model="vm.rePwdNew" placeholder="请确认密码" required pwd-repeat-true
                               pwd-repeat-true-form="formResetPwd" pwd-repeat-true-input="pwdNew" type="password"/>
                    </div>
                    <div class="form-group">
                        <div class="error-con">
                            <div class="error" ng-show="formResetPwd.$invalid && formResetPwd.$dirty">
                                <small ng-show="formResetPwd.pwdNew.$error.required">新密码不能为空</small>
                                <small ng-show="formResetPwd.pwdNew.$error.minlength">新密码最小长度为6位</small>
                                <small ng-show="formResetPwd.rePwdNew.$error.repeatTrue">两次密码不一致</small>
                            </div>
                        </div>
                    </div>

                    <div class="sbm form-group">
                        <button type="submit" ng-disabled="formResetPwd.$invalid" class="btn btn-primary  ">提交</button>
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>