<div class="container page-sta">

    <h4>
        统计报表
    </h4>

    <div class="line"></div>

    <ul>
        <li>
            <div class="btn-group">
                <label class="btn btn-success" ng-model="radioModel" btn-radio="1" uncheckable>今天</label>
                <label class="btn btn-success" ng-model="radioModel" btn-radio="2"     uncheckable>昨天</label>
                <label class="btn btn-success" ng-model="radioModel" btn-radio="3" uncheckable>7天</label>
                <label class="btn btn-success" ng-model="radioModel" btn-radio="4" uncheckable>14天</label>
                <label class="btn btn-success" ng-model="radioModel" btn-radio="5" uncheckable>一月</label>
            </div>
        </li>
        <li class="row sta">
            <div class="col-sm-4 text-center sta-con"><span class="num">0</span><br>总验证量</div>
            <div class="col-sm-4 text-center sta-con"><span class="num">0</span><br>成功验证量</div>
            <div class="col-sm-4 text-center sta-con"><span class="num">0</span><br>客户端数量</div>
        </li>

        <li class="panel panel-default">
            <div class="panel-heading">验证统计图</div>
            <div class="panel-body">
                图
            </div>
        </li>
        <li class="panel panel-default">
            <div class="panel-heading">详细数据</div>

                <table class="table table-bordered table-striped table-hover ">
                    <tr>
                        <th>时间</th>
                        <th>总验证量</th>
                        <th>成功验证量</th>
                        <th>客户端数量</th>
                    </tr>
                    <tr>
                        <td>00:00 - 01:00</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>00:00 - 01:00</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>00:00 - 01:00</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>00:00 - 01:00</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>00:00 - 01:00</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>00:00 - 01:00</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>00:00 - 01:00</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>

                </table>

        </li>
    </ul>

</div>
